.fade-in {
  animation: fade-in 600ms cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner {
  min-height: 65vh;

  @screen lg {
    min-height: 88vh;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-100 pt-8 dark:border-gray-800;
}

.csl-entry {
  @apply my-5;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.social-icons:last-child .icon {
  @apply mr-0;
}

.content {
  @apply !pb-0;
}

.collapse .view .title {
  @apply dark:text-white;
}
